[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
pillow = "*"
python-ffmpeg-video-streaming = "*"
ffmpeg-python = "*"
celery = "*"
redis = "*"

[dev-packages]
gevent = "*"
pytest = "*"
pytest-django = "*"
model-bakery = "*"
setuptools = "*"
celery = {extras = ["pytest"], version = "*"}
pytest-celery = "*"
m3u8 = "*"

[requires]
python_version = "3.11"
